body{
    background-color: black;
}
.mystyles{
    background-color: green;
    padding:"10px";  
    border:"1px solid white";
    border-radius: "5px";
}
.container{
    display: flex;
}
.box{
    width: 500px;
    height: 500px;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 300px;
}